body {
    margin: 0;
}

* {
    box-sizing: border-box;
    color: rgb(35, 21, 107);
}

/* For desktop: */
.container {
    width: 90%;
    margin: 0 auto;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }
}
/* For desktop: */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    .row {
        flex-wrap: wrap;
    }
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* For mobile: */
@media only screen and (max-width: 1000px) {
    [class*="col-"] {
        width: 100%;
    }
}

/* For desktop: */
[class*="col-"] {
    padding: 15px;
}

.shadow {
    box-shadow: 0 0 20px gainsboro;
    border-radius: 10px;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    nav li {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    nav ul {
        background-color: rgb(243, 251, 254);
    }
}

nav li a {
    color: rgb(18, 0, 110);
}

nav li:hover {
    background-color:  rgb(225, 245, 253);
}

.text-right{
    text-align: right;
}

a {
    text-decoration: none;
}
.text-center {
    text-align: center;
}

.py-3 {
    padding: 16px 0;
}
.px-3 {
    padding: 0 16px;
}
.p-3{
    padding: 16px;
}
.bg-azul-o {
    background-color: rgb(141, 0, 222);
}
.bg-blanco-b {
    background-color: rgb(240, 249, 252);
}
.bg-gris-b {
    background-color: rgba(240, 249, 252, 0.356);
}
.bg-morado-m {
    background-color: rgba(194, 5, 178, 0.76);
}
.bg-azul-c {
    background-color: rgba(0, 233, 250, 0.76);
}
.bg-verde-v {
    background-color: rgba(46, 255, 0, 0.76);
}
.bg-rojo-r {
    background-color: rgba(247, 0, 0, 0.76);
}
.bg-naranja-n {
    background-color: rgba(255, 108, 10, 0.76);
}
.bg-rosa-r {
    background-color: rgb(255, 0, 255);
}
fieldset.bg-fieldsetGris{
    margin: 0 auto;
    width: 50%;
    background-color: rgb(215, 255, 255);
}
fieldset.bg-fieldsetBlanco{
    margin: 0 auto;
    width: 50%;
    background-color: rgb(255, 255, 255);
}
fieldset.bg-fieldsetVerde{
    margin: 0 auto;
    width: 50%;
    background-color: rgb(173, 221, 173);
}
.text-white {
    color: white;
}
footer h1 {
    border-bottom-left-radius: 10px;
}
footer h1 {
    border-bottom-right-radius: 10px;
}

h1 {
    margin: 0;
}

#btnmenu {
    font-size: 40px;
    display: none;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    #btnmenu {
        display: inline;
    }
    #menu{
        display: none;
    }
}
@media screen and (max-width: 1600px) and (min-width: 1000px)  {
    #menu{
        display: block;
    }
}

#custom ol{
    list-style-type: upper-roman;
}
#custom ol ol{
    list-style-type: circle;
}
#custom ol ol ol{
    list-style-type: square;
}
table.tcentered{
    width: 60%;
    margin:0 auto;
    text-align: center;
    color: aliceblue;
    background-color: rgba(255, 255, 255, 0.938);
}
table.tcentered th{
    font-size: 20px;
    color: rgb(47, 113, 114);
    background-color: rgb(255, 255, 255);
}
table.tcentered td{
    padding: 4px;
}
.bg-FOL {
    background-color: #f0f0cc;
}
.bg-Ende {
    background-color: #60c5c6;
}
.bg-SISI {
    background-color: #b4b36e;
}
.bg-Ingles {
    background-color: #f2a66f;
}
.bg-LDM {
    background-color: #f8d356;
}
.bg-Progra {
    background-color: #b17a79;
}
.bg-BaseD {
    background-color: #f6cac9;
}
